-
  const menu = [
    { name: 'Home', href: '/home.html' },
    { name: 'Shop', href: '/shop.html', sublist: [ 
      { name: 'All Rooms', href: '/' },
      { name: 'Living Room', href: '/' },
      { name: 'Bedroom', href: '/' },
      { name: 'Kitchen', href: '/' },
      { name: 'Bathroom', href: '/' },
      { name: 'Dinning', href: '/' },
      { name: 'Outdoor', href: '/' },
      ]
    },
    { name: 'Product', href: '/product.html' , sublist: [ 
      { name: 'Sofa', href: '/' },
      { name: 'Lamp', href: '/' },
      { name: 'Tray table', href: '/' },
      { name: 'Bamboo Basket', href: '/' },
      ]
    },
    { name: 'Contact Us', href: '/contact.html' },
  ]
