include /common/pug/helpers

include /blocks/grid/grid
include /blocks/scripts/scripts
include /blocks/style/style
include /blocks/header/header

doctype html
html(lang='ru')
  include ../head/head
  body
    +header
    main: block content
    footer.footer
  +style('style.rest')
  if (resourcesName)
    +style(`style-${resourcesName}.rest`)
  -
    const scripts = ['script.js']
    if (resourcesName) scripts.push(`script-${resourcesName}.js`)
  +scripts(scripts)
