:root
  --form-field-input-padding 0.875rem 1.125rem
  --form-field-input-border-radius var(--border-radius-s)
  --form-field-input-border-color var(--color-text-secondary)
  --form-field-input-background-color var(--color-bg)
.form-input
  display block
  &__field
    display block
    width 100%
    padding var(--form-field-input-padding)
    $font-14()
    color var(--color-text-secondary)
    border-width 1px
    border-color var(--form-field-input-border-color)
    border-style solid
    border-radius var(--form-field-input-border-radius)
    background-color var(--color-white)
    transition background-color var(--transition-duration-out), border-color var(--transition-duration-out)
    resize none
    appearance none
    &:focus
      --form-field-input-border-color var(--color-text)
      background-color var(--form-field-input-background-color)
      outline none
      transition-duration var(--transition-duration-in)
    &::-webkit-search-decoration
    &::-webkit-search-cancel-button
    &::-webkit-search-results-button
    &::-webkit-search-results-decoration 
      -webkit-appearance none
