extends /blocks/layout/layout

include /blocks/img/img
include /blocks/page-section/page-section

block head
  -
    const pageTitle = `${siteName}: Домашняя страница`
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'home'
  include /data/menu/index
block content
  +pageSection
    p Домашняя страница
