extends /blocks/layout/layout
include /blocks/page-section/page-section

block head
  -
    const pageTitle = `${siteName}: `
    const pageDescription = ''
    const pageKeywords = ''
  include /data/menu/index    
block content
  +pageSection
    ul 
      li #[a(href='/home.html') Главная страница - home.html]
