fontFace(name, file, weight, style)
  @font-face
    font-family name
    src url('../fonts/' + file + '.woff2') format('woff2')
    font-weight unquote(weight)
    font-style unquote(style)
    font-display swap

fontFace(Poppins, 'Poppins-Regular', '400', 'normal')
fontFace(Poppins, 'Poppins-Medium', '500', 'normal')
fontFace(Inter, 'Inter-Regular', '400', 'normal')
fontFace(Inter, 'Inter-Medium', '500', 'normal')
fontFace(Inter, 'Inter-SemiBold', '600', 'normal')
fontFace(Inter, 'Inter-Bold', '700', 'normal')
