:root
  --color-bg #F3F5F7
  --color-text #141718
  --color-blue #377DFF
  --color-blue-hover #2254af
  --color-text-secondary #6C7275
  --color-white #FFFFFF
  --color-grey-light #E8ECEF

  --transition-duration-in 0.1s
  --transition-duration-out 0.4s

  --border-radius-m 0.5rem
  --border-radius-s 0.375rem
