include /blocks/container/container
include /blocks/content/content
include /blocks/logo/logo
include /blocks/header-navigation/header-navigation
include /blocks/header-search/header-search

mixin header
  +container({ tag: 'header' }).header&attributes(attributes)
    .header__top-wrapper
      .header__top
        .header__icon.header__icon--discount
        p.header__discount 30% off storewide — Limited time! 
        a(href='/shop.html').header__shop Shop Now
        button(type='button' aria-label='close').js-header-hider.header__close
    +content.header__bottom
      button(type='button' aria-label='open').header__opener.js-header-opener
      +logo.header__logo
      .header__pop-up
        button(type='button' aria-label='toggle mobile menu').header__switcher.js-header-switcher.hidden-m.hidden-l
        +logo.header__logo.hidden-m.hidden-l
        +headerNavigation(menu).header__navigation
        +headerSearch.header__search
        a(href='#' aria-label='log in').header__icon.header__icon--login.hidden-xs.hidden-s
        .header__user
          a(href='#').header__mobile-user
            p.hidden-m.hidden-l Cart
            div(aria-label='cart').header__icon.header__icon--cart
          a(href='#').header__mobile-user.hidden-m.hidden-l
            p Wishlist
            div(aria-label='wishlist').header__icon.header__icon--wishlist
          a(href='#').button.header__sign-in.hidden-m.hidden-l Sign In
          .header__socials.hidden-m.hidden-l
            a(href='#' aria-label='instagramm').header__icon.header__icon--instagramm
            a(href='#' aria-label='facebook').header__icon.header__icon--facebook
            a(href='#' aria-label='youtube').header__icon.header__icon--youtube
      .header__layer.hidden-m.hidden-l
      a(href='#' aria-label='cart').header__icon.header__icon--cart.hidden-m.hidden-l
