.header
  display grid
  grid-template-areas 'top' 'bottom'
  grid-template-rows var(--grid-template-rows)
  $font-14()
  &__top-wrapper
    grid-area top
    height 100%
    overflow hidden
  &__top
    position relative
    display flex
    gap 0.75rem
    width 100%
    padding-y 0.5rem
  &__discount
    font-weight 600
    +media-max(m)
      $font-12()
  &__shop
    display flex
    gap 0.25rem
    font-weight 500
    border-bottom 1px solid var(--color-border)
    +media-max(m)
      display none
  &__close
    position absolute
  &__bottom
    position relative
    grid-area bottom
    display grid
    grid-template-areas 'logo popup popup popup popup' 
    grid-template-columns 105px 1fr auto auto auto 
    gap 1rem
    +media-max(m)
      grid-template-areas 'opener logo cart' 
      grid-template-columns auto 70px 1fr
      padding-y 1.25rem
  &__logo
    grid-area logo
  &__pop-up
    grid-area popup
    display grid
    grid-template-areas 'menu search login user' 
    grid-template-columns subgrid
    +media-max(m)
      position absolute
  &__navigation
    grid-area menu
  &__user
    grid-area user
    +media-max(m)
      display flex
      flex-direction column
      gap 0.5rem
      margin-top 10rem
  &__mobile-user
    +media-max(m)
      display flex
      padding-bottom 0.5rem
      border-bottom 1px solid var(--color-grey-light)
      & > p
        font-size 1rem
        font-weight 500
  &__sign-in
    margin-top 0.75rem
  &__socials
    display flex
    gap 1.5rem
    margin-top 0.75rem
  &__icon
    --icon-size 1.25rem
    display block
    width var(--icon-size)
    height var(--icon-size)
    &--discount
      +media-max(m)
        --icon-size 1rem
  &__search
    grid-area search
  &__opener
    grid-area opener
    width 2rem
    height 2rem
    margin-top -5px
    border none
    +media(m)
      display none
