.header
  --popup-position translateX(-200%) 
  --popup-transition var(--transition-duration-out)
  --layer-opacity 0
  --layer-ponter-events none
  --layer-z-index -1 
  --layer-transition 0.2s
  --grid-template-rows 1fr min-content
  transition grid-template-rows var(--transition-duration-out)
  &--active
    --popup-position translateX(0) 
    --popup-transition var(--transition-duration-in)
    --layer-opacity 1
    --layer-ponter-events auto
    --layer-z-index 1
    --layer-transition var(--transition-duration-out)
  &--top-hidden
    --grid-template-rows 0fr min-content
    transition-duration var(--transition-duration-in)
  &__top
    justify-content center
    align-items center
    background-color var(--color-bg)
  &__shop
    --color-link var(--color-blue)
    --color-link-hover var(--color-blue-hover)
    --color-border transparent
    color var(--color-link)
    text-decoration none
    transition color var(--transition-duration-out), border-bottom var(--transition-duration-out)
    +after()
      display block
      width 1.125rem
      height 1.125rem
      mask(arrow)
      background-color var(--color-link)
      transition background-color var(--transition-duration-out)
    +hover()
      --color-link var(--color-link-hover)
      --color-border var(--color-link-hover)
      transition-duration var(--transition-duration-in)
    +media-max(m)
      display none
  &__close
    --close-size 2.5rem
    right 1.25rem
    width var(--close-size)
    height var(--close-size)
    mask-image maskImage(cross)
    mask-size 2.5rem
    mask-repeat no-repeat
    mask-position center
    background-color var(--color-text)
    border none
    transition opacity var(--transition-duration-out)
    +media-max(m)
      --close-size 2rem
    +hover()
      opacity 0.7
      transition-duration var(--transition-duration-in)
  &__switcher
    --switcher-size 2rem
    justify-self flex-end
    grid-area switcher
    width var(--switcher-size)
    height var(--switcher-size)
    padding 0
    mask-image maskImage(cross)
    mask-size 4rem
    mask-repeat no-repeat
    mask-position center
    background-color var(--color-text-secondary)
    border none
  &__bottom
    justify-self center
    align-items center
  &__pop-up
    align-items center
    justify-content center
    +media-max(m)
      inset 0
      display grid
      grid-template-areas 'logo switcher' 'search search' 'menu menu' 'user user'
      grid-template-columns 70px auto
      grid-template-rows repeat(3, min-content) 1fr
      justify-content space-between
      gap 1rem
      width 345px
      height 100vh
      padding 1.5rem
      background-color var(--color-white)
      transform var(--popup-position)
      transition transform var(--popup-transition)
      z-index 100
  &__user
    +media-max(m)
      align-self end
  &__mobile-user
    +media-max(m)
      justify-content space-between
      & > p
        color var(--color-text-secondary)
  &__icon
    mask-image var(--mask-image)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
    background-color var(--color-text)
    transition background-color var(--transition-duration-out)
    for icon in discount search login cart wishlist instagramm facebook youtube
      &--{icon}
        --mask-image maskImage(icon)
    &--cart
      justify-self flex-end
    +hover()
      background-color var(--color-text-secondary)
      transition-duration var(--transition-duration-in)
  &__layer
    +media-max(m)
      position absolute
      inset 0
      display block
      width 100vw
      height 100vh
      background-color rgba(0, 0, 0, 0.3)
      opacity var(--layer-opacity)
      ponter-events var(--layer-ponter-events)
      transition opacity var(--layer-transition)
      z-index var(--layer-z-index)
  &__opener
    mask-image maskImage(opener)
    mask-repeat no-repeat
    mask-position center
    mask-size 4rem
    background-color var(--color-text)
    appearance none
