.header-search
  --header-search-popup-opacity 0
  --header-search-popup-pointer-events none
  &--active
    --header-search-popup-opacity 1
    --header-search-popup-pointer-events auto
    transition-duration var(--transition-duration-in)
  &__popup
    +media(m)
      position absolute
      top 1.5rem
      right 0
      opacity var(--header-search-popup-opacity)
      pointer-events var(--header-search-popup-pointer-events)
      transition-property opacity
      transition-duration var(--transition-duration-out)
  &__form
    position relative
    display flex
    align-items center
    min-width 16rem
    width 100%
    border 1px solid transparent
    border-radius var(--border-radius-s)
  &__submit
    --before-background-color var(--color-text)
    display flex
    justify-content center
    align-items center
    height 100%
    padding 0
    padding-left 1rem
    border none
    background-color transparent
    +before()
      --icon-size 1.25rem
      width var(--icon-size)
      height var(--icon-size)
      mask-image maskImage(search)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      background-color var(--before-background-color)
      transition background-color var(--transition-duration-out)
    +hover()
      --before-background-color var(--color-text-secondary)
      transition-duration var(--transition-duration-in)
