.header-search
  --form-field-input-padding 0.875rem 1.125rem 0.875rem 3rem
  position relative
  &__form
    position relative
    display flex
    min-width 16rem
    width 100%
    border 1px solid transparent
  &__submit
    position absolute
  &__input
    width 100%
