include /blocks/form-input/form-input

mixin headerSearch
  .header-search.header__search&attributes(attributes)
    button(type='submit' aria-label='open search').header__icon.header__icon--search.header-search__opener.hidden-xs.hidden-s
    .header-search__popup
      form(action='' method='post').header-search__form
        +formInput({ type: 'search', placeholder: 'Search', required: 'required' }).header-search__input
        button(type='submit' aria-label='search').header-search__submit 
