.header-navigation
  --sublist-opacity 0
  --sublist-pointer-events none
  --sublist-transition-duration var(--transition-duration-out)
  --sublist-scale scale(.5)
  &__item
    position relative
    a
      color var(--color-text-secondary)   
      transition color var(--transition-duration-out)
      +media-max(m)
        color var(--color-text)  
      +hover()
        color var(--color-text)
        transition-duration var(--transition-duration-in)
    &--sub
      +media(m)
        width 100%
        border-bottom 1px solid var(--color-grey-light)
      & > a
        display block
        padding 0.375rem 0
        width 100%
    &--parent
      transition grid-template-rows var(--transition-duration-out)
      +hover()
        --sublist-opacity 1
        --sublist-pointer-events auto
        --sublist-transition-duration 0.2s
        --sublist-transition-property transform, opacity
        --sublist-scale scale(1)
        transition-timing-function ease-in-out
    &--active
      --list-sub-row 1fr
      --list-sub-padding 1rem
      --opener-transform rotate(180deg)
      transition-duration var(--transition-duration-out)
  &__list
    +media(m)
      flex-wrap wrap
      justify-content center
      &--sub
        position absolute
        top 55px
        left 50%
        min-width 200px
        margin-left -100px
        text-align center
        background-color var(--color-white)
        box-shadow 4px 0px 58px 3px rgba(0,0,0,0.2)
        opacity var(--sublist-opacity)
        pointer-events var(--sublist-pointer-events)
        transition-property var(--sublist-transition-property)
        transition-duration var(--sublist-transition-duration)
        transition-timing-function ease-in-out
        transform var(--sublist-scale)
        z-index 1000
    +media-max(m)
      &--sub
        grid-area sub
        overflow hidden
        row-gap 0
        padding-left 1rem
        padding-bottom var(--list-sub-padding)
        transition padding var(--transition-duration-out)
  &__opener 
    +media-max(m)
      grid-area opener
      position absolute
      right 0
      top -0.5rem
      width 2.5rem
      height 2.5rem
      mask-image maskImage(header-nav-opener)
      mask-repeat no-repeat
      mask-position center
      mask-size contain
      background-color var(--color-text)
      transform var(--opener-transform)
      transition transform var(--transition-duration-out)
