.header-navigation
  &__item
    position relative
    &:not(&--sub)
      +media(m)
        padding 1.25rem 1rem
      & > a
        grid-area link
      +media-max(m)
        border-bottom 1px solid var(--color-grey-light)
        & > a
          display block
          padding-bottom 1rem
    a
      font-weight 500
    &--sub
      +media(m)
        width 100%
        border-bottom 1px solid var(--color-grey-light)
      & > a
        display block
        padding 0.375rem 0
        width 100%
    &--parent
      position relative
      display grid
      grid-template-areas 'link opener' 'sub sub'
      grid-template-columns 1fr auto
      grid-template-rows min-content var(--list-sub-row, 0fr)
  &__list
    display flex
    +media-max(m)
      flex-direction column
      row-gap 1rem
